*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: hsl(27, 66%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    

}

.total{
    background-color: rgb(234,118,98);
    width: 100%;
    height: 80px;
    display: flex;
    padding: 19px 20px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.total img{
    height: 30px;
    
}

p{
    font-family: 'DM Sans', sans-serif;
}

.light{

    font-size: 10px;
    font-weight: 400;
    
}
.bold{
    font-weight: 700;
    font-size: 20px;
}

.balance{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.chart{
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;

}
.header p{
font-weight: 700;
font-size: 20px;
}
.header{
    display: flex;
    justify-content: flex-start;
}
.part{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-end;
}
.day{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: auto;

}

.day .block{
    
    background: hsl(10, 79%, 65%);
    border-radius: 3px;
    width: 30px;
    position: relative;
}

.block:hover::before{
    font-family: 'DM Sans', sans-serif;

    content: attr(money);
    background-color: hsl(25, 47%, 15%);
    border-radius: 3px;
    color: white;
    top: -35px;
    left: -7px;
    position: absolute;
    
    padding: 0.5rem;
    font-size: 10px;
}
.day .dayname{
    display: flex;
    justify-content: center;
}

.dayname p{
    font-size: 9px;
    color:rgba(0,0,0,.5) ;
}
.day:hover{
    .block{
        opacity: 0.5;
    }
    
    
}

.line{
    width: 100%;
    height: 0.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0,0,0,.2);
}

.month{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.month .month_balance .light{
    font-size: 10px;
    letter-spacing: 0.5px;
    color: rgba(0,0,0,.5);

}

.month .month_balance .bold{
    font-size: 30px;
}

.increase_rate .bold{
    font-size: 13px;
}

.increase_rate{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 3px;
}

.increase_rate .light{
    color:rgba(0,0,0,.5);
    font-size: 10px;
    letter-spacing: 0.5px;
}